@media (min-width: 768px) {
   
    .calcularCompra {
        display: flex;
        flex-direction: column;
        width: 700px;
        background: #F6D097;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .primeraLinea{
        display: flex;
    }

    .nombreCliente {
        display: flex;
        width: 350px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 20px 30px 0px 20px;
        padding: 0px 0px 0px 10px;
    }

    .mesa {
        display: flex;
        width: 100px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 20px 0px 0px 20px;
        padding: 0px 0px 0px 10px;
    }

    .detalleCompra {
        display: flex;
    }

    .textoDetalleCompra {
        display: flex;
        text-align: start;
        width: 500px;
        height: 30px;
        background: #888888;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 50px 30px 0px 20px;
        padding: 0px 0px 0px 10px;
    }

    .valorProducto {
        display: flex;
        text-align: start;
        width: 70px;
        height: 30px;
        background: #888888;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 50px 30px 0px 20px;
        padding: 0px 0px 0px 10px;
    }

    .borrar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: #888888;
        margin: 50px 30px 0px 20px;
    }

    .imgBorrar {
        width: 30px;
        height: 30px;
    }

    .confirmarCompra {
        display: flex;
    }

    .enviarCocina {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 30px;
        background: #38BC0A;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 40px 300px 40px 20px;
    }

    .totalPagar {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 150px;
        height: 30px;
        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 40px 30px 40px 20px;
        padding: 0px 0px 0px 10px;
    }
}