.inputRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    margin: 5px ;
}

#contenedorRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}